@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}




*{
  font-family: "Inter", sans-serif;
}


.heart {
  width: 100px;
  height: 100px;
  background-color: #00e676; /* Color for the heart */
  clip-path: path("M10 30 Q 50 5, 90 30 T 50 90 Z"); /* Custom path for heart shape */
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
